.logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.titulo{
   text-align: center;
}

.margem{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

    //--padding-start: 10%;
    //--padding-end: 10%;
    //--padding-bottom: 10%;
}
.centralizarLabel{
    display: flex;
    justify-content: center;
}